$bg: #aaacaf;
$container-width: 70%;
$ff: 'arial', helvetica, sans-serif;
$default-padding: 0px 10px 5px 10px;

.clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

header {
    .menu-container {
        ul {
            li {
                display: inline;
                margin-right: 6px;
                padding: 0.4em;
                border-right: 1px solid black;
                &:nth-of-type(4) {
                    margin-right: 0;
                    border-right: none;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

.wrapper {
    background-color: $bg;
    width: $container-width;
    margin-left: auto;
    margin-right: auto;
    padding: $default-padding;
    font-family: $ff;

    h1 {
        text-align: center;
    }

    main {
        img {
            float: left;
            margin: 0px 10px 5px 0px;

            @extend .clearfix;
        }
    }

}